*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #001e2d;
  margin-bottom: 100px;
}

header h1{
  font-family:cursive;
  color: whitesmoke;
  margin-left: 20px;
  padding-top: 5px;
  font-size: 40px;
}

header h1:hover{
  color: orange;
}

nav a{
  text-decoration: none;
  color: whitesmoke;
  margin: 20px 25px;
  display: inline-block;
}

nav a:hover{
  border-bottom: 2px solid orange;
}

.colored-text{
  color: orange;
}

.button{
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(tomato,blue);
  color: whitesmoke;
  border-radius: 25px;
  display: inline-block;
  margin-left: 125px;
}

.button:hover{
  background-image: linear-gradient(orange,red);
}

.about{
  display: flex;
  justify-content: space-evenly;
  background-image:url(images/Frame\ 56.jpg); 
  
}

.box{
  width: 40%;
}

.box h2{
  padding: 25px;
  font-size: 32px;
}

.box p{
  padding: 25px;
}

.box img{
  width: 80%;
  border-radius: 50%;
  margin: 15px auto;
}

 .product-photo img{
  width: 40%;
  border-radius: 25px;
  display: block;
  margin:0px auto;
}

.product-photo{
  width: 100%;
}

.products{
  flex-basis: 300px;
  height: 280px;
  border: 2px solid blue;
  border-radius: 5px;
  position: relative;
  background: lightpink;
  flex-grow: 1;
  margin: 5px;
  box-shadow: 10px 10px 40px gray;
}

.product-details h2, .product-details h3{
  text-align: center;
}

.product-details p{
  padding: 25px;
}



.product-details{
  position: absolute;
  top: 0px;
  display: none;
  background-color: rgba(238, 130, 238, 0.274);
}

.products:hover .product-details{
  display: block;
  color: rgb(61, 16, 16);
}

.products:hover .product-details h3{
  color: white;
}

.products:hover .product-photo{
  transform: scale(.8);
  transition: transform 2s;
}

.showcase>h2{
  font-size: 32px;
  text-align: center;
  font-family: cursive;
  padding: 100px;
}

#testimonials{
  margin-top: 100px;
}

#testimonials h2{
  text-align: center;
  font-family: cursive;
}

.products-container{
  display: flex;
  flex-wrap: wrap;

}


#contact{
  margin-top: 100px;
  margin-bottom: 200px;
  
}

#contact h2{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: cursive;
}

.form{
  height: 150px;
  width: 250px;
  margin-left: 40%;
  
}

.form input{
  padding: 5px;
  border: none;
  border-bottom: 2px solid orange;
  font-size: 1.3em;
  margin-bottom: 25px;
}

.form .submit{
  border: none;
  padding: 10px 15px;
  margin-left: 30%;
  border-radius: 25px;
  background-color:crimson;
  color: whitesmoke;
  font-size: 18px;
}

footer {
  background: #001e2d;
}

footer p{
  text-align: center;
  padding: 15px;
  color: whitesmoke;
  font-size: 22px;
}

.testimonials .speech{
  display: flex;
}

.testimonials h2{
  font-size: 32px;
}

#contact h2{
  font-size: 32px;
}

.speech-box img{
  width: 100px;
  border-radius: 50%;
}

.speech-box{
  display: flex;
  margin-top: 100px;
  padding: 20px;
  background-color: gray;
  margin-right: 10px;
  margin-left: 15px;
  border-radius: 25px;
  color: whitesmoke;
  box-shadow: 10px 10px 30px orange;
}

.speech-box p{
  padding-top: 25px;
  padding-left: 10px;
}

